/* Fonts */

@font-face {
  font-family: "Cuprum";
  src: url("../fonts/cuprum.woff2") format(woff2);
  src: url("../fonts/cuprum.woff") format(woff);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Cuprum";
  src: url("../fonts/cuprumbold.woff2") format(woff2);
  src: url("../fonts/cuprumbold.woff") format(woff);
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Cuprum";
  src: url("../fonts/cuprumbolditalic.woff2") format(woff2);
  src: url("../fonts/cuprumbolditalic.woff") format(woff);
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Cuprum";
  src: url("../fonts/cuprumitalic.woff2") format(woff2);
  src: url("../fonts/cuprumitalic.woff") format(woff);
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans.woff2") format(woff2);
  src: url("../fonts/ptsans.woff") format(woff);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsansbold.woff2") format(woff2);
  src: url("../fonts/ptsansbold.woff") format(woff);
  font-weight: 700;
  font-style: normal;
}

/* Variables */

:root {
  --basic-white: #ffffff;
  --basic-black: #000000;
  --basic-gray: #888888;
  --basic-graylight: #C5C5C5;
  --basic-red: #EE3643;
  --basic-topblue: #293449;;
  --basic-darkblue: #32425C;
  --basic-green: #63A63E;
  --section-background: #F1F5F7;
  --block-mater: #FFBF47;
  --block-tool: #3BBCE3;
  --block-tech: #DC91D8;
  --block-sale: #8ED78F;
  --block-deliv: #FFC047;
  --block-button: rgba(255, 255, 255, 0.3);
  --block-button-preclick: rgba(197, 197, 197, 0.3);
  --block-button-click: rgba(169, 169, 169, 0.3);
  --section-lightbrown: #F9F5F0;
  --social-background: #212A3A;
  --section-lightblue: #F2F6F8;
  --filter-beige: #F7F3EC;
  --preclick-red: #CA2C37;
  --click-red: #BA2732;
  --preclick-green: #5FBB2D;
  --click-green: #518534;
  --preclick-topblue: #293449;
  --click-topblue: #161D29;
  --click-darkblue: #1D2739;
  --old-gray: #A9A9A9;
  --text-lemon: #FFD180;
  --text-light: #F3F7F9;
  --text-light-one: #F1F5F7;
  --white-50: rgba(255, 255, 255, 0.5);
  --border-gray: #EAEAEA;
  --border-button-gray: #E5E5E5;
  --radio-hover-gray: #B5B5B5;
  --login-hover: #3D546F;
}

/* Container */

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

/* Global */

body {
  margin: 0;
  padding: 0;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  font-style: normal;
  color: var(--basic-black);
  background-color: var(--basic-white);
  min-width: 960px;
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.page {
  height: 100%;
}

a {
  text-decoration: none;
  color: var(--basic-white);
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

/* Прим. для всех страниц */

.hide {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  background-color: var(--basic-red);
  color: var(--basic-white);
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
}

.button:hover {
  background-color: var(--preclick-red);
}

.button:active {
  background-color: var(--click-red);
}

.headliner {
  color: var(--basic-darkblue);
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

/* header */
/* header - полоса с поиском */

.main-header {
  background-color: var(--section-background);
}

.main-header-bar {
  background-color: var(--basic-topblue);
}

.main-section-header {
  color: var(--basic-white);
  height: 42px;
  display: flex;
  align-items: center;
  margin-bottom: 46px;
}

.logo-pic {
  background-color: var(--basic-red);
  color: var(--basic-white);
  padding: 12px 56px 17px 56px;
  box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
}

.logo-pic img {
  width: 108px;
  height: 18px;
  vertical-align: middle;
}

.logo-pic:active {
  background-color: var(--click-red);
}

.search-field {
  position: relative;
}

.search-field input[type="search"] {
  background-color: var(--basic-topblue);
  color: var(--basic-white);
  border: none;
  width: 271px;
  height: 42px;
  padding-left: 42px;
}

.search-field input[type="search"]:focus {
  background-color: var(--basic-white);
  color: var(--basic-black);
}

.search-field input[type="search"]::placeholder {
  color: var(--basic-white);
}

.search-field input[type="search"]:active::placeholder {
  color: var(--basic-white);
  opacity: 0.5;
}

.search-field input[type="submit"] {
  width: 17px;
  height: 17px;
  border: none;
  background-color: transparent;
  background: url(../img/icons/search.svg) no-repeat 50% 50%;
  position: absolute;
  top: 12px;
  left: 17px;
  cursor: pointer;
  opacity: 0.3;
}

.search-field input[type="submit"]:hover {
  opacity: 1;
}

.search-field input[type="submit"]:active {
  opacity: 0.3;
}

.search-field input[type="submit"]:focus {
  background-image: url("../img/icons/search-red.svg");
}

.bookmarks {
  padding: 9px 24px 9px 43px;
  position: relative;
}

.basket {
  padding: 9px 26px 9px 49px;
  position: relative;
}

.bookmarks:active,
.basket:active {
  background-color: var(--click-topblue);
  opacity: 0.5;
}

.bookmarks::before {
  content: "";
  position: absolute;
  width: 14px;
  height: 16px;
  top: 13px;
  left: 20px;
  background-image: url("../img/icons/bookmark.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.basket::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  top: 13px;
  left: 26px;
  background-image: url("../img/icons/cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.bookmarks:hover::before,
.basket:hover::before {
  opacity: 1;
}

.get-order {
  background-color: var(--basic-green);
  padding: 9px 16px 9px 19px;
}

.get-order:hover {
  background-color: var(--preclick-green);
}

.get-order:active {
  color: var(--white-50);
}

/* header - средняя секция */

.sub-section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sub-section-header p {
  font-family: "Cuprum", Arial, sans-serif;
  font-style: italic;
  font-weight: 400;
  color: var(--basic-red);
  font-size: 16px;
  line-height: 23px;
  width: 197px;
  min-height: 70px;
  margin-left: 30px;
}

.header-tel {
  color: var(--basic-red);
  font-weight: 700;
  font-size: 21px;
  line-height: 30px;
  border: 3px solid var(--basic-white);
  padding: 7px 45px 8px 74px;
  position: relative;
}

.header-tel::before {
  content: "";
  position: absolute;
  width: 19px;
  height: 19px;
  top: 10px;
  left: 40px;
  background-image: url("../img/icons/phone.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.header-address {
  color: var(--basic-darkblue);
  font-style: normal;
  font-size: 14px;
  text-align: center;
  margin-top: 11px;
}

.unknown-user {
  display: flex;
  transform: translateY(-15px);
}

.account-hidden {
  display: none;
}

.login,
.registration {
  background-color: var(--basic-white);
  color: var(--basic-black);
  font-size: 21px;
  line-height: 21px;
}

.login {
  padding: 12px 27px 12px 45px;
  margin-right: 10px;
  position: relative;
}

.login::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 17px;
  top: 14px;
  left: 19px;
  background-image: url("../img/icons/login.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.login:hover::before {
  background-image: url("../img/icons/login-blue.svg");
}

.login:active::before {
  background-image: url("../img/icons/login.svg");
}

.registration {
  padding: 12px 24px;
}

.login:hover,
.registration:hover {
  color: var(--basic-red);
}

.login:active,
.registration:active {
  color: var(--basic-graylight);
}

.client-name {
  background-color: var(--basic-white);
  color: var(--basic-black);
  font-size: 21px;
  line-height: 21px;
  position: relative;
  min-width: 200px;
  padding: 12px 57px 12px 56px;
}

.client-name::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 18px;
  top: 13px;
  left: 15px;
  background-image: url("../img/icons/user.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.client-name:hover {
  color: var(--basic-black);
}

.client-options {
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-darkblue);
}

.client-options:hover {
  color: var(--basic-red);
}

.client-options:active {
  color: var(--basic-graylight);
}

/* header - полоса навигации */

.main-navigation {
  background-color: var(--basic-darkblue);
  box-shadow: inset 0px -5px 0px #293449;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 60px;
  margin-top: 40px;
  min-height: 60px;
}

.main-navigation a {
  padding: 16px 24px 20px 27px;
}

.main-navigation a:hover {
  background-color: var(--basic-topblue);
}

.main-navigation a:active {
  background-color: var(--click-darkblue);
}

/* Главная */
/* Главная - секция Товары и Акции */

.products-promotions {
  margin-top: 59px;
  margin-bottom: 59px;
}

.block.assortment {
  display: grid;
  grid-template-areas:
    "mater tool tech"
    "slide slide sale"
    "slide slide deliv";
  gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 123px 123px 123px;
}

.block.assortment li {
  padding: 20px 0 21px 22px;
  background-repeat: no-repeat;
  background-position: 85% 50%;
}

.block h3{
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  color: var(--basic-white);
  margin: 0;
  margin-bottom: 14px;
}

.materials {
  background-color: var(--block-mater);
  grid-area: mater;
  background-image: url(../img/icons/icon-1.svg);
  background-size: 44px 65px;
  position: relative;
  overflow: hidden;
}

.materials::after {
  content: "new";
  position: absolute;
  color: var(--basic-white);
  background-color: var(--basic-red);
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  width: 100px;
  max-height: 30px;
  padding-top: 7px;
  padding-bottom: 7px;
  transform: rotate(45deg);
  top: 8px;
  right: -26px;
}

.tools {
  background-color: var(--block-tool);
  grid-area: tool;
  background-image: url(../img/icons/icon-2.svg);
  background-size: 75px 61px;
}

.technics {
  background-color: var(--block-tech);
  grid-area: tech;
  background-image: url(../img/icons/icon-3.svg);
  background-size: 78px 62px;
}

.sale {
  background-color: var(--block-sale);
  grid-area: sale;
  background-image: url(../img/icons/icon-4.svg);
  background-size: 59px 71px;
}

.delivery {
  background-color: var(--block-deliv);
  grid-area: deliv;
  background-image: url(../img/icons/icon-5.svg);
  background-size: 78px 63px;
}

.button.block {
  background-color: var(--block-button);
  display: block;
  text-align: center;
  max-width: 135px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.button.block:hover {
  background-color: var(--block-button-preclick);
}

.button.block:active {
  background-color: var(--block-button-click);
}

.promo-slider {
  background-color: var(--basic-gray);
  color: var(--basic-white);
  grid-area: slide;
  background-size: 620px 266px;
  background-repeat: no-repeat;
  background-position: 0 0;
  position: relative;
}

.promo-slider h3 {
  font-size: 36px;
  line-height: 36px;
  position: absolute;
  top: 23px;
  left: 24px;
}

.promo-slider p {
  position: absolute;
  left: 24px;
}

.slide-perfs {
  background-image: url(../img/perfs-slider.jpg);
}

.slide-drills {
  background-image: url(../img/drills-slider.jpg);
}

.slide {
  display: none;
}

.promo-slider a {
  padding: 11px 46px 9px 46px;
  position: absolute;
  bottom: 27px;
  left: 24px;
}

.slidebutton {
  position: absolute;
  border: none;
  background-color: transparent;
  bottom: 104px;
  cursor: pointer;
}

.slidebutton.turn-left {
  left: 25px;
}

.slidebutton.turn-right {
  right: 25px;
}

/* Главная - секция Популярные товары */

.popular-products-band {
  background-color: var(--section-lightbrown);
  margin-top: 59px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 28px;
  padding-right: 14px;
}

.popular-products-band a {
  padding: 11px 24px 9px 24px;
}

.popular-products-items {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 70px;
}

.popular-products-items li {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 700;
  border: 1px solid var(--border-gray);
  width: 220px;
  min-height: 318px;
  margin-right: 20px;
  margin-top: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.popular-products-items li:nth-child(4n) {
  margin-right: 0;
}

.popular-products-items li:hover {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}

.popular-products-items li:hover img {
  transform: scale(0);
  transition:
    opacity 0.1s ease-in-out,
    transform 0.1s ease-in-out;
}

.popular-products-items li:hover .buy-or-bookmarks {
  z-index: 1;
}

.popular-products-items img {
  order: -1;
  margin: auto;
  border: 20px solid var(--basic-white);
}

.buy-or-bookmarks {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  top: 38px;
  justify-content: center;
  z-index: -1;
}

.button.buy {
  background-color: var(--basic-green);
  box-shadow: inset 0px -3px 0px #367315;
  margin-bottom: 10px;
  border-radius: 2px;
  position: relative;
  flex-basis: 135px;
  padding: 10px;
  text-align: center;
}

.button.buy::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  top: 10px;
  left: 30px;
  background-image: url("../img/icons/cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.button.buy:hover {
  background-color: var(--preclick-green);
}

.button.buy:active {
  background-color: var(--click-green);
}

.button.bookmarks {
  background-color: var(--basic-white);
  color: var(--basic-darkblue);
  border: 3px solid var(--basic-green);
  border-radius: 2px;
  text-align: center;
  padding-top: 8px;
  flex-basis: auto;
}

.button.bookmarks:hover {
  color: var(--basic-darkblue);
  border: 3px solid var(--basic-darkblue);
}

.button.bookmarks:active {
  color: var(--basic-darkblue);
  border: 3px solid var(--basic-darkblue);
  opacity: 0.5;
}

.popular-products-items h4 {
  max-width: 185px;
  text-align: center;
  margin: 0;
}

.old-price {
  color: var(--old-gray);
  text-transform: uppercase;
  text-decoration: line-through;
  font-size: 17px;
  line-height: 18px;
  margin-bottom: 0;
}

.actual-price {
  color: var(--basic-white);
  background-color: var(--basic-red);
  text-transform: uppercase;
  font-size: 17px;
  border-radius: 3px 0 0 3px;
  position: relative;
  align-self: flex-start;
  margin-left: 45px;
  padding: 10px 25px 10px 32px;
}

.actual-price::after {
  content: '';
  position: absolute;
  right: -44px;
  bottom: 0px;
  border: 22px solid transparent;
  border-left: 22px solid var(--basic-red);
}

/* Главная - секция Популярные производители*/

.producers-band {
  background-color: var(--section-lightbrown);
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.producers-band p {
  padding-left: 28px;
  flex-grow: 1;
}

.producers-band a {
  padding: 11px 38px 9px 39px;
  margin-right: 19px;
}

.producers-blocks {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 70px;
}

.producers-blocks li {
  background-color: var(--basic-white);
  border: 1px solid var(--border-gray);
  box-sizing: border-box;
  height: 145px;
  width: 220px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.producers-blocks li:nth-child(4n) {
  margin-right: 0;
}

.producers-blocks li:hover {
  border: 1px solid var(--border-gray);
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}

.producers-blocks li:active {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
  opacity: 0.3;
}

.producers-blocks a {
  display: block;
}

.pb-bosch {
  padding: 54px 47px 54px 47px;
}

.pb-makita {
  padding: 50px 49px 55px 48px;
}

.pb-dewalt {
  padding: 48px 37px 53px 37px;
}

.pb-interskol {
  padding: 34px 11px 36px 9px;
}

.pb-hitachi {
  padding: 58px 23px 56px 28px;
}

.pb-lg {
  padding: 36px 49px 36px 50px;
}

.pb-aeg {
  padding: 24px 34px 25px 35px;
}

.pb-metabo {
  padding: 34px 8px 42px 8px;
}

/* Главная - секция Сервисы */

.services-division {
  background-color: var(--section-background);
  margin-bottom: 70px;
  padding-top: 64px;
  padding-bottom: 54px;
}

.services-division h2,
.services-items h3 {
  font-weight: 400;
  color: var(--basic-black);
  margin: 0;
}

.services-division p {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  max-width: 400px;
  min-height: 49px;
}

.services-area {
  display: flex;
  align-items: center;
  margin-top: 21px;
  min-height: 280px;
  padding: 0;
}

.services-menu {
  position: relative;
  padding: 49px 0 45px 0;
  box-shadow: inset -30px 0 30px -30px var(--basic-gray);
}

.services-menu li {
  background-color: var(--basic-darkblue);
  color: var(--basic-white);
  font-size: 21px;
  line-height: 30px;
  min-width: 240px;
  min-height: 61px;
  box-shadow: inset 0px 1px 0px #405069;
}

.services-menu li:hover {
  background-color: var(--preclick-topblue);
}

.services-active-item {
  background-color: var(--basic-white);
  color: var(--basic-darkblue);
  font-weight: 700;
}

.services-menu a {
  display: block;
  padding: 14px 0 17px 22px;
}

.services-items {
  width: 100%;
  margin-left: 80px;
  padding: 49px 0 45px 0;
}

.services-items p {
  max-width: 275px;
  min-height: 100px;
  padding-right: 25px;
  margin-top: 30px;
}

.services-items li {
  background-repeat: no-repeat;
}

.services-delivery {
  background-image: url(../img/delivery.png);
  background-size: 468px 261px;
  background-position: 100% 0;
  height: 100%;
}

.services-guarantee {
  background-image: url(../img/guarantee.png);
  background-size: 389px 283px;
  display: none;
}

.services-credit {
  background-image: url(../img/credit.png);
  background-size: 465px 285px;
  display: none;
}

/* Главная - секция Информация и Контакты */

.contacts-info {
  margin-bottom: 70px;
  display: flex;
}

.contacts-info h3 {
  color: var(--basic-black);
  font-weight: 400;
  margin: 0;
}

.contacts-info p {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  margin-top: 24px;
}

.about-us {
  flex-basis: 640px;
}

.about-us p {
  max-width: 460px;
}

.cargo-delivery {
  padding-bottom: 20px;
  position: relative;
}

.cargo-delivery li {
  padding-left: 27px;
}

.cargo-delivery li::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 2px;
  left: 0px;
  top: 12px;;
  background-image: url(../img/icons/Layer-cargo.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.about-us .button {
  padding: 11px 40px 9px 39px;
}

.about-location {
  flex-basis: 300px;
}

.about-location p {
  max-width: 180px;
}

.map {
  margin-bottom: 25px;
}

.about-location .button {
  padding: 11px 61px 9px 62px;
}

/* Catalog */

.bread-crumbs li {
  display: inline-block;
}

.bread-crumbs a {
  font-size: 13px;
  line-height: 18px;
  color: var(--basic-black);
  text-transform: uppercase;
}

.catalog-name {
  font-family: "Cuprum", "Arial", sans-serif;
  background-color: var(--section-lightblue);
  color: var(--basic-darkblue);
}

.catalog-page {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 400;
  color: var(--basic-black);
  text-transform: uppercase;
  display: grid;
  grid-template-columns: 220px 1fr;
  grid-template-rows: 38px 1fr;
  gap: 20px;
}

.products-filter {
  grid-column: 1 / 2;
  grid-row: 1 / -1;
}

.products-filter fieldset {
  padding: 0;
  margin: 0;
  margin-bottom: 25px;
  border: none;
}

.producer-filter ul,
.power-filter ul {
  line-height: 18px;
}

.products-filter p,
.price-filter input {
  background-color: var(--filter-beige);
}

.producer-filter li,
.power-filter li {
  font-size: 15px;
  line-height: 19px;
}

.filter-name {
  font-weight: 700;
  font-size: 17px;
  line-height: 30px;
}

.products-sorting {
  font-size: 13px;
  line-height: 18px;
  background-color: var(--filter-beige);
  grid-column: 2 / -1;
  grid-row: 1 / 2;
}

.products-sorting ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.products-sorting a {
  color: var(--basic-black);
  opacity: 0.3;
  text-decoration: underline;
  text-decoration-style: dashed;
  text-decoration-color: var(--basic-red);
}

.products-sorting a:hover {
  color: var(--basic-black);
  opacity: 1;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-color: var(--basic-red);
}

.products-sorting a:active {
  color: var(--basic-red);
  opacity: 1;
  text-decoration: none;
}

.perforators-list {
  display: flex;
  flex-wrap: wrap;
}

.perforators-list li {
  border: 1px solid var(--border-gray);
  box-sizing: border-box;
  min-height: 318px;
  width: 220px;
  margin-right: 20px;
  margin-bottom: 18px;
}

.perforators-list li:nth-child(3n) {
  margin-right: 0;
}

.producer-filter li:disabled,
.power-filter li:disabled {
  opacity: 0.4;
}

.pages-navigation {
  grid-column: 2 / -1;
}

.pages-navigation li {
  display: inline-block;
}

/* Чекбоксы и Радиокнопки */

.producer-filter img,
.power-filter img {
  color: var(--basic-graylight);
}

.producer-filter img:hover,
.power-filter img:hover,
.producer-filter img:disabled,
.power-filter img:disabled {
  color: var(--radio-hover-gray);
}

/* - - - - - - - - - - - */

.catalog-button {
  border: 1px solid var(--border-button-gray);
  border-radius: 2px;
  background-color: var(--basic-white);
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 400;
  color: var(--basic-black);
  text-transform: uppercase;
  font-size: 13px;
  line-height: 18px;
}

.catalog-button:hover {
  border-color: var(--basic-graylight);
}

.catalog-button:active {
  border-color: var(--basic-red);
}

/* Каталог - секция Пара слов */

.info-note {
  background-color: var(--text-light-one);
  color: var(--basic-black);
  font-size: 13px;
  line-height: 24px;
  padding-top: 64px;
  padding-bottom: 68px;
  margin-top: 59px;
}

.info-note h2 {
  margin: 0;
  color: var(--basic-black);
  font-weight: 400;
}

/* footer */
/* footer - первая секция */

.main-footer-bar {
  background-color: var(--basic-darkblue);
}

.main-footer {
  display: flex;
  padding-bottom: 54px;
}

.footer-info {
  width: 330px;
  justify-content: flex-start;
}

.logo-pic.footpic {
  padding: 20px 41px 25px 41px;
  max-width: 120px;
}

.footer-address, .footer-tel {
  color: var(--text-light);
  font-style: normal;
  font-size: 18px;
  line-height: 24px;
  margin-top: 22px;
}

.footer-nav {
  align-self: center;
  flex-grow: 1;
}

.first-footer-nav ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-content: center;
  margin-bottom: 34px;
  margin-left: 70px;
}

.second-footer-nav ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-content: center;
  margin-left: 92px;
}

.first-footer-nav a {
  color: var(--text-light-one);
}

.first-footer-nav a:hover,
.second-footer-nav a:hover {
  text-decoration: underline;
}

.first-footer-nav a:active {
  text-decoration: none;
  color: var(--section-background);
  opacity: 0.5;
}

.second-footer-nav a {
  color: var(--text-lemon);
}

.second-footer-nav a:active {
  text-decoration: none;
  color: var(--text-lemon);
  opacity: 0.5;
}

/* footer - вторая секция */

.sub-footer-bar {
  background-color: var(--basic-topblue);
}

.sub-footer {
  color: var(--basic-white);
  font-size: 16px;
  line-height: 18px;
  min-height: 107px;
  display: flex;
  align-items: center;
}

.copyright {
  width: 227px;
  min-height: 37px;
}

.social-club ul {
  display: flex;
  flex-wrap: wrap;
  width: 134px;
  justify-content: space-between;
  margin-left: 161px;
  margin-right: 118px;
}

.social-club li {
  background-color: var(--social-background);
  height: 44px;
  width: 44px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-club li:hover,
.social-club li:active {
  background-color: var(--basic-red);
}

.connect-info {
  flex-grow: 1;
}

.connect-info p {
  margin: 0;
}

.connect-info a {
  color: var(--text-lemon);
}

.connect-info a:hover {
  text-decoration: underline;
}

.connect-info a:active {
  text-decoration: none;
  color: var(--basic-red);
}
