/* Fonts */

@font-face {
  font-family: "Cuprum";
  src: url("../fonts/cuprum.woff2") format(woff2);
  src: url("../fonts/cuprum.woff") format(woff);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Cuprum";
  src: url("../fonts/cuprumbold.woff2") format(woff2);
  src: url("../fonts/cuprumbold.woff") format(woff);
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Cuprum";
  src: url("../fonts/cuprumbolditalic.woff2") format(woff2);
  src: url("../fonts/cuprumbolditalic.woff") format(woff);
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Cuprum";
  src: url("../fonts/cuprumitalic.woff2") format(woff2);
  src: url("../fonts/cuprumitalic.woff") format(woff);
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans.woff2") format(woff2);
  src: url("../fonts/ptsans.woff") format(woff);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsansbold.woff2") format(woff2);
  src: url("../fonts/ptsansbold.woff") format(woff);
  font-weight: 700;
  font-style: normal;
}

/* Variables */

:root {
  --basic-white: #ffffff;
  --basic-black: #000000;
  --basic-gray: #888888;
  --basic-graylight: #C5C5C5;
  --basic-red: #EE3643;
  --basic-topblue: #293449;;
  --basic-darkblue: #32425C;
  --basic-green: #63A63E;
  --section-background: #F1F5F7;
  --block-gold: #FFBF47;
  --block-skyblue: #3BBCE3;
  --block-purple: #DC91D8;
  --block-greengrass: #8ED78F;
  --block-pineapple: #FFC047;
  --block-button: rgba(255, 255, 255, 0.3);
  --block-button-preclick: rgba(197, 197, 197, 0.3);
  --block-button-click: rgba(169, 169, 169, 0.3);
  --section-lightbrown: #F9F5F0;
  --social-background: #212A3A;
  --section-lightblue: #F2F6F8;
  --filter-beige: #F7F3EC;
  --preclick-red: #CA2C37;
  --click-red: #BA2732;
  --preclick-green: #5FBB2D;
  --click-green: #518534;
  --preclick-topblue: #293449;
  --click-topblue: #161D29;
  --click-darkblue: #1D2739;
  --old-gray: #A9A9A9;
  --text-lemon: #FFD180;
  --text-light: #F3F7F9;
  --text-light-one: #F1F5F7;
  --white-50: rgba(255, 255, 255, 0.5);
  --border-gray: #EAEAEA;
  --border-button-gray: #E5E5E5;
  --radio-hover-gray: #B5B5B5;
}

/*Global*/

body {
  margin: 0;
  padding: 0;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  font-style: normal;
  color: var(--basic-black);
  background-color: var(--basic-white);
  min-width: 960px;
}

a {
  text-decoration: none;
  color: var(--basic-white);
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.hide {
  display: none;
}

.button {
  background-color: var(--basic-red);
  color: var(--basic-white);
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
}

.button:hover {
  background-color: var(--preclick-red);
}

.button:active {
  background-color: var(--click-red);
}

.button.buy {
  background-color: var(--basic-green);
  font-size: 14px;
  line-height: 18px;
}

.button.buy:hover {
  background-color: var(--preclick-green);
}

.button.buy:active {
  background-color: var(--click-green);
}

.button.bookmarks {
  background-color: var(--basic-white);
  color: var(--basic-darkblue);
  border: 3px solid var(--basic-green);
  border-radius: 2px;
  font-size: 14px;
  line-height: 18px;
}

.button.bookmarks:hover {
  color: var(--basic-darkblue);
  border: 3px solid var(--basic-darkblue);
}

.button.bookmarks:active {
  color: var(--basic-darkblue);
  border: 3px solid var(--basic-darkblue);
  opacity: 0.5;
}

.headliner {
  color: var(--basic-darkblue);
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.new-chaplet {
  text-transform: uppercase;
  background-color: var(--basic-red);
  color: var(--basic-white);
  font-size: 14px;
  line-height: 18px;
}

.old-price {
  color: var(--old-gray);
  text-transform: uppercase;
  text-decoration: line-through;
  font-size: 17px;
  line-height: 18px;
}

.actual-price {
  color: var(--basic-white);
  background-color: var(--basic-red);
  text-transform: uppercase;
  font-size: 17px;
  line-height: 18px;
}

/* header */

.main-section-header {
  background-color: var(--basic-topblue);
  color: var(--basic-white);
  }

.logo-pic {
  background-color: var(--basic-red);
  color: var(--basic-white);
  width: 220px;
  height: 47px;
}

.logo-pic:active {
  background-color: var(--click-red);
}

.search-field input[type="search"]{
  background-color: var(--basic-topblue);
  color: var(--basic-white);
  border: none;
}

.search-field input[type="search"]:focus {
  background-color: var(--basic-white);
  color: var(--basic-black);
}

.bookmarks:active,
.basket:active {
  background-color: var(--click-topblue);
}

.get-order {
  background-color: var(--basic-green);
  padding: 9px 16px 9px 19px;
}

.get-order:hover {
  background-color: var(--preclick-green);
}

.get-order:active {
  color: var(--white-50);
}

.section-header {
  background-color: var(--section-background);
}

.sign-in,
.registration,
.client-name {
  color: var(--basic-black);
  font-size: 21px;
  line-height: 21px;
}

.sign-in:hover,
.registration:hover {
  color: var(--basic-red);
}

.sign-in:active,
.registration:active,
.client-name:active {
  color: var(--basic-graylight);
}

.client-name:hover {
  color: var(--basic-black);
}

.client-options {
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-darkblue);
}

.client-options:hover {
  color: var(--basic-red);
}

.client-options:active {
  color: var(--basic-graylight);
}

.header-info {
  font-family: "Cuprum", "Arial", sans-serif;
  font-style: italic;
  font-weight: 400;
  color: var(--basic-red);
  font-size: 16px;
  line-height: 23px;
}

.header-tel {
  color: var(--basic-red);
  font-family: "Cuprum", "Arial", sans-serif;
  font-weight: 700;
  font-size: 21px;
  line-height: 30px;
}

.header-address {
  color: var(--basic-darkblue);
  font-style: normal;
  font-size: 14px;
}

.main-navigation {
  background-color: var(--basic-darkblue);
}

.main-navigation div:hover {
  background-color: var(--basic-topblue);
}

.main-navigation div:active {
  background-color: var(--click-darkblue);
}

/* ГЛАВНАЯ */
/* Секция Товары и Акции */

.block h4{
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: var(--basic-white);
}

.materials {
  background-color: var(--block-gold);
  }

.tools {
  background-color: var(--block-skyblue);
}

.technics {
  background-color: var(--block-purple);
}

.promo-slider {
  background-color: var(--basic-gray);
  color: var(--basic-white);
}

.promo-slider h4 {
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
}

.promo-slider .button {
  background-color: var(--basic-red);
}

.sale {
  background-color: var(--block-greengrass);
}

.delivery {
  background-color: var(--block-pineapple);
}

.button.block {
  background-color: var(--block-button);
}

.button.block:hover {
  background-color: var(--block-button-preclick);
}

.button.block:active {
  background-color: var(--block-button-click);
}

/* Секция Популярные товары */

.popular-products-band {
  background-color: var(--section-lightbrown);
}

.popular-products-blocks {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 700;
}

.popular-products-blocks a {
  font-size: 18px;
  line-height: 20px;
}

/* Секция Популярные производители*/

.popular-producer-band {
  background-color: var(--section-lightbrown);
}

.popular-producer-blocks li {
  background-color: var(--basic-white);
  border: 1px solid var(--border-gray);
  height: 145px;
  width: 220px;
}

.popular-producer-blocks li:hover {
  background-color: var(--basic-white);
  border: 1px solid var(--border-gray);
}

.popular-producer-blocks li:active {
  background-color: var(--basic-white);
  border: 1px solid var(--border-gray);
  opacity: 0.3;
}

/* Секция Сервисы*/

.services-division {
  background-color: var(--section-background);
}

.services-division p {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
}

.services-menu li {
  background-color: var(--basic-darkblue);
  color: var(--basic-white);
  font-weight: 700;
  font-size: 21px;
  line-height: 30px;
}

.services-menu li:hover {
  background-color: var(--preclick-topblue);
}

.services-menu li:focus {
  background-color: var(--basic-white);
  color: var(--basic-darkblue);
}

.services-submenu li {
  background-repeat: no-repeat;
}

.services-delivery {
  background-image: url(../img/delivery.png);
}

.services-guarantee {
  background-image: url(../img/guarantee.png);
}

.services-credit {
  background-image: url(../img/credit.png);
}

/* Секция Информация Контакты*/

.contacts-info {
  color: var(--basic-black);
}

.contacts-info p {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
}

/* КАТАЛОГ */

.catalog-page {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 400;
  color: var(--basic-black);
  text-transform: uppercase;
}

.bread-crumbs a {
  font-size: 13px;
  line-height: 18px;
  color: var(--basic-black);
  text-transform: uppercase;
}

.catalog-name {
  font-family: "Cuprum", "Arial", sans-serif;
  background-color: var(--section-lightblue);
  color: var(--basic-darkblue);
}

.products-filter p,
.price-filter input {
  background-color: var(--filter-beige);
}

.producer-filter li,
.power-filter li {
  font-size: 15px;
  line-height: 19px;
}

.filter-name {
  font-weight: 700;
  font-size: 17px;
  line-height: 30px;
}

.producer-filter li:disabled,
.power-filter li:disabled {
  opacity: 0.4;
}

/* Чекбоксы и Радиокнопки */

.producer-filter img,
.power-filter img {
  color: var(--basic-graylight);
}

.producer-filter img:hover,
.power-filter img:hover,
.producer-filter img:disabled,
.power-filter img:disabled {
  color: var(--radio-hover-gray);
}

/* - - - - - - - - - - - - - - */

.catalog-button {
  border: 1px solid var(--border-button-gray);
  border-radius: 2px;
  background-color: var(--basic-white);
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 400;
  color: var(--basic-black);
  text-transform: uppercase;
  font-size: 13px;
  line-height: 18px;
}

.catalog-button:hover {
  border-color: var(--basic-graylight);
}

.catalog-button:active {
  border-color: var(--basic-red);
}

.products-subfilter-line {
  font-size: 13px;
  line-height: 18px;
  background-color: var(--filter-beige);
}

.products-subfilter-line a {
  color: var(--basic-black);
  opacity: 0.3;
  text-decoration: underline;
  text-decoration-style: dashed;
  text-decoration-color: var(--basic-red);
}

.products-subfilter-line a:hover {
  color: var(--basic-black);
  opacity: 1;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-color: var(--basic-red);
}

.products-subfilter-line a:active {
  color: var(--basic-red);
  opacity: 1;
  text-decoration: none;
}

.info-note {
  background-color: var(--text-light-one);
  text-transform: none;
  font-size: 13px;
  line-height: 24px;
}

.info-note h2 {
  font-family: "Cuprum", "Arial", sans-serif;
  text-transform: uppercase;
}

/* footer */

.big-footer-division {
  background-color: var(--basic-darkblue);
}

.big-footer-division address, .footer-tel {
  color: var(--text-light);
  font-style: normal;
  font-size: 13px;
  line-height: 24px;
}

.first-footer-nav a {
  color: var(--text-light-one);
}

.first-footer-nav a:hover,
.second-footer-nav a:hover {
  text-decoration: underline;
}

.first-footer-nav a:active {
  text-decoration: none;
  color: var(--section-background);
  opacity: 0.5;
}

.second-footer-nav a {
  color: var(--text-lemon);
}

.second-footer-nav a:active {
  text-decoration: none;
  color: var(--text-lemon);
  opacity: 0.5;
}

.main-footer {
  background-color: var(--basic-topblue);
  color: var(--basic-white);
  font-size: 16px;
  line-height: 18px;
}

.social-club li {
  background-color: var(--social-background);
}

.social-club li:hover,
.social-club li:active {
  background-color: var(--basic-red);
}

.connect-info a {
  color: var(--text-lemon);
}

.connect-info a:hover {
  text-decoration: underline;
}

.connect-info a:active {
  text-decoration: none;
  color: var(--basic-red);
}
